﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@model PositiveScott.Models.AddCase
@using PositiveScott.Resources

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">


            @using (Html.BeginForm("AddCase", "NewCase", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {


                <div class="form-body">
                    <h3 class="card-title">Add Customer</h3>


                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Broker, new { @class = "control-label" })
                                @Helper.BrokerDropdown()

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Contact, new { @class = "control-label" })
                                @Helper.ContactDropdown()
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "help" })
                                @Helper.CommonDropdown("Title")
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.EmailAddress, new { @class = "help" })
                                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "help" })
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @pattern = "[a-zA-Z]{1,25}" } })
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.HomeTelephone, new { @class = "help" })
                                @Html.EditorFor(model => model.HomeTelephone, new { htmlAttributes = new { @class = "form-control", @pattern = "[0-9]{0,11}" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Surname, new { @class = "help" })
                                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", @pattern = "[a-zA-Z']{1,25}" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MobileTelephone, new { @class = "help" })
                                @Html.EditorFor(model => model.MobileTelephone, new { htmlAttributes = new { @class = "form-control", @pattern = "[0-9]{0,11}" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DOB, new { @class = "help" })
                                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @pattern = "[0-9/]{0,10}", @placeholder = "dd/mm/yyyy" } })
                            </div>
                        </div>
                    </div>
                    <h3 class="box-title m-t-40">Address</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.AddressLine1, new { @class = "help" })
                                @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control", @pattern = "[0-9a-zA-Z ]{1,25}" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AddressLine2, new { @class = "help" })
                                @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control", @pattern = "[a-zA-Z ]{1,25}" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Town, new { @class = "help" })
                                @Html.EditorFor(model => model.Town, new { htmlAttributes = new { @class = "form-control", @pattern = "[a-zA-Z ]{1,25}" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.County, new { @class = "help" })
                                @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control", @pattern = "[a-zA-Z ]{1,25}" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PostCode, new { @class = "help" })
                                @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control", @pattern = "[0-9a-zA-Z ]{1,10}" } })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Create Customer</button>
                        </div>
                    </div>


                </div>
            }










        </div>
    </div>
</div>


