﻿
@{
    Layout = null;
}



<div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
<div class="r-panel-body">
    <ul class="m-t-20">
        <li class="m-b-10"><a href="#" data-toggle="modal" data-target="#switchRole" style="color: #000;">Switch Role <i class="fas fa-user"></i></a></li>
        <li class="m-b-10"><a href="#" data-toggle="modal" data-target="#outOfOffice" style="color: #000;">Out of Office <i class="fas fa-briefcase"></i></a></li>
        <li class="m-b-10"><a href="@Url.Action("Change","ServicePanel", new { area = "" })" style="color: #000;">Change Requests <i class="fas fa-code"></i></a></li>
        <li class="m-b-10"><a href="@Url.Action("Support","ServicePanel", new { area = "" })" style="color: #000;">Support Requests <i class="fas fa-terminal"></i></a></li>
        <li class="m-b-10"><a href="#" style="color: #000;">Online Help <i class="fas fa-question"></i></a></li>
        <li class="m-b-10"><a href="#" style="color: #000;">Contact Us <i class="fas fa-envelope"></i></a></li>
        <li class="m-b-10"><a href="#" data-toggle="modal" data-target="#passwordChange" style="color: #000;">Password Change <i class="fas fa-key"></i></a></li>
        <li class="m-b-10"><a href="@Url.Action("ActiveTickets","ServicePanel", new { area = "" })" style="color: #000;">Active Tickets <i class="mdi mdi-ticket"></i></a></li>
        <li class="m-b-10"><a href="@Url.Action("Logout","Login", new { area = "" })" style="color: #000;">Logout<i class="mdi mdi-glassdoor"></i></a></li>
    </ul>
</div>
