﻿@model PositiveScott.Models.User
@{
    Layout = "~/Views/Shared/Login.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div id="login-div">

        @using (Html.BeginForm("Authorise", "Login", FormMethod.Post, new { @class = "form-horizontal form-material" }))
        {


            <h3 class="box-title m-b-20">Sign In</h3>
            <div class="form-group ">
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.PasswordFor(model => model.UserPassword)
                    @Html.ValidationMessageFor(model => model.UserPassword)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label>@Html.DisplayFor(model => model.UserLoginErrorMessage) </label>
                </div>
            </div>


            <!--<div class="form-group row">
                <div class="col-md-12">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Remember me</label>
                        <a href="javascript:void(0)" id="to-recover" class="text-dark float-right"><i class="fa fa-lock m-r-5"></i> Password Reset</a>
                    </div>
                </div>
            </div>-->
            
            <div class="form-group text-center">
                <div class="col-xs-12 p-b-20">
                    <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
                </div>
            </div>
            


































            


        }



    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
