﻿@model PositiveScott.Models.Task

@{

   <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="icon-note"></i>
        <div class="notify"> </div>
    </a>
    <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
        <span class="with-arrow"><span class="bg-primary"></span></span>
        <ul>
            <li>
                <div class="drop-title bg-primary text-white">
                    <h4 class="m-b-0 m-t-5"></h4>
                    <span class="font-light">Tasks</span>
                </div>
            </li>
            <li>
                <div class="message-center">


                    @*<a href="javascript:void(0)">
                            <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                            <div class="mail-contnet">
                                <h5>Tasks Due Today</h5> <span class="mail-desc">You have 6 tasks set for today!</span> <span class="time">9:30 AM</span>
                            </div>
                        </a>

                        <a href="javascript:void(0)">
                            <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                            <div class="mail-contnet">
                                <h5>New System!</h5> <span class="mail-desc">Check out the fresh look of the new system.</span> <span class="time">9:10 AM</span>
                            </div>
                        </a>*@



                </div>
            </li>
            <li>
                <a class="nav-link text-center m-b-5" href="javascript:void(0);"> <strong>Check all Tasks</strong> <i class="fa fa-angle-right"></i> </a>
            </li>
        </ul>
    </div>
    }