﻿@model IEnumerable<PositiveScott.Models.PanelMaintenance>
@{
    ViewBag.Title = "Panel Maintenance";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}








    <div id="Avail" class="col-md-6">
        <ul id="AvailablePlugins">
            @{foreach (var item in Model.Where(x => x.InUse = false))
                {
                    <li class="ui-state-default" id="@item.ImportValID">@item.ImportValName</li>

                }
            }




        </ul>
    </div>
    <div id="Select" class="col-md-6">
        <ul id="SelectedPlugins">
            @{foreach (var item in Model.Where(x => x.InUse = true))
                {
                    <li class="ui-state-default" id="@item.ImportValID">@item.ImportValName</li>



                }
            }
        </ul>
    </div>





