﻿@model IEnumerable<PositiveScott.Models.ImportValidation>
@{
    ViewBag.Title = "PluginMaintenance";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}



<table id="PluginMaintenance" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Field Type</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Field Type</th>
        </tr>
    </tfoot>
    <tbody>
        @{ foreach (var ImpVal in Model)
            {
                <tr>
                    <td>@ImpVal.ValID</td>
                    <td>@ImpVal.ValName</td>

                    @if (ImpVal.PluginType == 2)
                    {
                        <td>Plugin</td>
                    }
                    else
                    {
                        <td>Field</td>
                    }


                    <td></td>
                </tr>





            }

        }
    </tbody>




</table>