﻿



    <div class="card-body">
        <h4 class="card-title">Address History</h4>
        <h6 class="card-subtitle"></h6>
        <button type="button" class="btn btn-info btn-rounded m-t-10 mb-2 float-right" data-toggle="modal" data-target="#add-contact">Add Address History</button>
        <!-- Add Contact Popup Model -->
        <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add Address History</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>

                    @using (Html.BeginForm("addAddressHistory", "Clients", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-material" }))
                    {
                        <input type="hidden" id="CustomerID" name="CustomerID" value="13" />
                        <div class="modal-body">


                            <div class="form-group">
                                <div class="col-md-12 m-b-20">
                                    <input type="text" id="PostCode" name="PostCode" class="form-control" placeholder="Post Code">
                                </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" id="AddressHouseName" name="AddressHouseName" class="form-control" placeholder="Address House Name">
                                </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" id="AddressHouseNumber" name="AddressHouseNumber" class="form-control" placeholder="Address House Number">
                                </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" id="AddressLine1" name="AddressLine1" class="form-control" placeholder="Address Line 1">
                                </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" id="AddressLine2" name="AddressLine2" class="form-control" placeholder="Address Line 2">
                                </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" id="Town" name="Town" class="form-control" placeholder="Town">
                                </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" id="County" name="County" class="form-control" placeholder="County">
                                </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" id="MoveInDate" name="MoveInDate" class="form-control" placeholder="Move In Date">
                                </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" id="MoveOutDate" name="MoveOutDate" class="form-control" placeholder="Move Out Date">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info waves-effect">Save</button>
                        </div>
                    }
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="table-responsive">
            <table id="demo-foo-addrow" class="table table-bordered m-t-30 table-hover contact-list footable footable-5 footable-paging footable-paging-center breakpoint-lg" data-paging="true" data-paging-size="7" style="">
                <thead>
                    <tr class="footable-header">

                        <th class="footable-first-visible" style="display: table-cell;">&nbsp;</th>
                        <th style="display: table-cell;">Address Line 1</th>
                        <th style="display: table-cell;">Address Line 2</th>
                        <th style="display: table-cell;">Town</th>
                        <th style="display: table-cell;">County</th>
                        <th style="display: table-cell;">PostCode</th>
                        <th style="display: table-cell;">Move In date</th>
                        <th style="display: table-cell;">Move Out date</th>
                        <th style="display: table-cell;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td class="footable-first-visible" style="display: table-cell;"></td>
                        <td style="display: table-cell;"></td>
                        <td style="display: table-cell;"></td>
                        <td style="display: table-cell;"></td>
                        <td style="display: table-cell;"></td>
                        <td style="display: table-cell;"></td>
                        <td style="display: table-cell;"></td>
                        <td style="display: table-cell;"></td>
                        <td class="footable-last-visible" style="display: table-cell;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>