﻿@model IEnumerable<PositiveScott.Models.CustomerApplicationsTable>




<div class="card-body">
    <h4 class="card-title">Bridging Loans</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>AppID</th>
                    <th>Applicants</th>
                    <th>Lender</th>
                    <th>Account Number</th>
                    <th>Security Address</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Advisor</th>
                </tr>
            </thead>
            <tbody>

                @{foreach (var item in Model)
                    {
                        if (item.ProductType == "Bridging Loan")
                        {
                            <tr>
                                <td></td>
                                <td>@item.AppID</td>
                                <td>@item.Customer1Name<br/>@item.Customer2Name<br/>@item.Customer3Name<br/>@item.Customer4Name</td>
                                <td>@item.Lender</td>
                                <td>@item.AccountNum</td>
                                <td>@item.SecurityAddress</td>
                                <td>@item.ProductType</td>
                                <td>@item.Status</td>
                                <td>@item.Advisor</td>
                            </tr>
                        }
                    }
                }





            </tbody>
        </table>
    </div>
</div>

<div class="card-body">
    <h4 class="card-title">Commercial and Development Loans</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>AppID</th>
                    <th>Applicants</th>
                    <th>Lender</th>
                    <th>Account Number</th>
                    <th>Security Address</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Advisor</th>
                </tr>
            </thead>
            <tbody>
                @{foreach (var item in Model)
                    {
                        if (item.ProductType == "Commerical and Development")
                        {
                            <tr>
                                <td></td>
                                <td>@item.AppID</td>
                                <td>@item.Customer1Name<br />@item.Customer2Name<br />@item.Customer3Name<br />@item.Customer4Name</td>
                                <td>@item.Lender</td>
                                <td>@item.AccountNum</td>
                                <td>@item.SecurityAddress</td>
                                <td>@item.ProductType</td>
                                <td>@item.Status</td>
                                <td>@item.Advisor</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="card-body">
    <h4 class="card-title">Mortgages</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>AppID</th>
                    <th>Applicants</th>
                    <th>Lender</th>
                    <th>Account Number</th>
                    <th>Security Address</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Advisor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @{foreach (var item in Model)
                        {
                            if (item.ProductType == "Mortgage")
                            {
                            <tr>
                                <td></td>
                                <td>@item.AppID</td>
                                <td>@item.Customer1Name<br />@item.Customer2Name<br />@item.Customer3Name<br />@item.Customer4Name</td>
                                <td>@item.Lender</td>
                                <td>@item.AccountNum</td>
                                <td>@item.SecurityAddress</td>
                                <td>@item.ProductType</td>
                                <td>@item.Status</td>
                                <td>@item.Advisor</td>
                            </tr>
                        }
                    }
                    }
                    </tr>
                </tbody>
        </table>
    </div>
</div>

<div class="card-body">
    <h4 class="card-title">Secured Loans</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>AppID</th>
                    <th>Applicants</th>
                    <th>Lender</th>
                    <th>Account Number</th>
                    <th>Security Address</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Advisor</th>
                </tr>
            </thead>
            <tbody>
                @{foreach (var item in Model)
                    {
                        if (item.ProductType == "Secured Loan")
                        {
                            <tr>
                                <td></td>
                                <td>@item.AppID</td>
                                <td>@item.Customer1Name<br />@item.Customer2Name<br />@item.Customer3Name<br />@item.Customer4Name</td>
                                <td>@item.Lender</td>
                                <td>@item.AccountNum</td>
                                <td>@item.SecurityAddress</td>
                                <td>@item.ProductType</td>
                                <td>@item.Status</td>
                                <td>@item.Advisor</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>