﻿
@model IEnumerable<PositiveScott.Models.CustomerRecord>


@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@using PositiveScott.Resources


@{foreach (var i in Model)
    {

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Nav tabs -->
                    <div class="vtabs customvtab">
                        <ul class="nav nav-tabs tabs-vertical" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#PersonalDetails" role="tab" aria-selected="true"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Personal Information</span> </a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#AddressDetails" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Address Details</span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#ContactDetails" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Contact Details</span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Dependants" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Dependants</span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Preferences" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Preferences</span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#CustomerLogons" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Logon Details</span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Applications" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Manage Applications</span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#AddApplication" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Add Application</span></a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane p-20 active" id="PersonalDetails" role="tabpanel">

                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.Title, new { @class = "control-label" })
                                            @Helper.CommonDropdown("Title", i.Title)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.FirstName, new { @class = "control-label" })
                                            @Html.EditorFor(model => i.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.MiddleNames, new { @class = "control-label" })
                                            @Html.EditorFor(model => i.MiddleNames, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.Surname, new { @class = "control-label" })
                                            @Html.EditorFor(model => i.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.MaidenName, new { @class = "control-label" })
                                            @Html.EditorFor(model => i.MaidenName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.PreviousName, new { @class = "control-label" })
                                            @Html.EditorFor(model => i.PreviousName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>


                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.DOB, new { @class = "control-label" })
                                            @Html.EditorFor(model => i.DOB, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.Sex, new { @class = "control-label" })
                                            @Helper.CommonDropdown("Sex", i.Sex)
                                        </div>
                                    </div>
                                </div>

                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.MaritalStatus, new { @class = "control-label" })
                                            @Helper.CommonDropdown("MaritalStatus", i.MaritalStatus)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.Nationality, new { @class = "control-label" })
                                            @Helper.NationalityDropdown(i.Nationality)
                                        </div>
                                    </div>
                                </div>

                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.CountryOfBirth, new { @class = "control-label" })
                                            @Helper.CountryDropdown(i.CountryOfBirth)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="tab-pane p-20" id="ContactDetails" role="tabpanel">

                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.HomeTelephone, new { @class = "control-label" })
                                            @Html.EditorFor(model => i.HomeTelephone, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.MobileTelephone, new { @class = "control-label" })
                                            @Html.EditorFor(model => i.MobileTelephone, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.WorkTelephone, new { @class = "control-label" })
                                            @Html.EditorFor(model => i.WorkTelephone, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => i.EmailAddress, new { @class = "control-label" })
                                            @Html.EditorFor(model => i.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>

                            </div>




                            <div class="tab-pane p-20" id="Preferences" role="tabpanel">


                            </div>

                                <div class="tab-pane p-20" id="AddressDetails" role="tabpanel">
                                    <div class="row p-t-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => i.AddressPostCode, new { @class = "control-label" })
                                                @Html.EditorFor(model => i.AddressPostCode, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => i.ResidentialStatus, new { @class = "control-label" })
                                                @Helper.CommonDropdown("ResidentialStatus", i.ResidentialStatus)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-t-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => i.AddressHouseName, new { @class = "control-label" })
                                                @Html.EditorFor(model => i.AddressHouseName, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => i.AddressHouseNumber, new { @class = "control-label" })
                                                @Html.EditorFor(model => i.AddressHouseNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-t-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => i.AddressLine1, new { @class = "control-label" })
                                                @Html.EditorFor(model => i.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => i.AddressLine2, new { @class = "control-label" })
                                                @Html.EditorFor(model => i.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-t-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => i.AddressLine3, new { @class = "control-label" })
                                                @Html.EditorFor(model => i.AddressLine3, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => i.AddressCounty, new { @class = "control-label" })
                                                @Html.EditorFor(model => i.AddressCounty, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-t-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => i.MoveInDate, new { @class = "control-label" })
                                                @Html.EditorFor(model => i.MoveInDate, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => i.MoveOutDate, new { @class = "control-label" })
                                                @Html.EditorFor(model => i.MoveOutDate, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>




                                    @{ Html.RenderAction("AddressHistory", "Clients", new { area = "Clients", ClientID = i.CustomerID });}



                                </div>

                                <div class="tab-pane p-20" id="Dependants" role="tabpanel">

                                    @{ Html.RenderAction("Dependants", "Clients", new { area = "Clients", ClientID = i.CustomerID });
                                    }
                                </div>

                                <div class="tab-pane p-20" id="Applications" role="tabpanel">

                                    @{ Html.RenderAction("Applications", "Clients", new { area = "Clients", ClientID = i.CustomerID });
                                    }
                                </div>



                                <div class="tab-pane p-20" id="CustomerLogons" role="tabpanel">
                                    <div class="row p-t-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => i.CustomerLogonUserName, new { @class = "control-label" })
                                                @Html.EditorFor(model => i.CustomerLogonUserName, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-t-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => i.CustomerLastLoginDate, new { @class = "control-label" })
                                                @Html.EditorFor(model => i.CustomerLastLoginDate, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>

                                </div>



                                <div class="tab-pane p-20" id="AddApplication" role="tabpanel">

                                    @using (Html.BeginForm("addNewApplication", "Clients", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {

                                        <input type="hidden" id="CustomerID" name="CustomerID" value="@i.CustomerID" />


                                        <div class="row p-t-20">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Helper.CommonDropdown("ProductType", "")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-t-20">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Create Application</button>
                                                </div>
                                            </div>
                                        </div>





                                    }
                                </div>

                            </div>
                        </div>













                </div>
            </div>
        </div>


    }
}













