﻿@model IEnumerable<PositiveScott.Models.Customer>
@{

    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive m-t-40">
                <div id="myTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="myTable" class="table table-bordered table-striped dataTable no-footer" role="grid" aria-describedby="myTable_info">
                                <thead>
                                    <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name" style="width: 225.889px;">Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Date of Birth" style="width: 336.111px;">D.O.B</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Email" style="width: 171.667px;">Email</th>
                                    <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="" style="width: 85.4444px;">&nbsp;</th></tr>
                                </thead>
                                <tbody>


                                    @{foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @item.FirstName @item.Surname
                                            </td>
                                            <td>
                                                @item.DOB
                                            </td>
                                            <td>
                                                @item.EmailAddress
                                            </td>
                                            <td class="text-nowrap">
                                                <a href="@Url.Action("Client","Clients", new { ClientID = item.CustomerID})" data-toggle="tooltip" data-original-title="Edit"> <i class="fas fa-pencil-alt"></i> </a>

                                            </td>
                                        </tr>


                                        }

                                    }

                                </tbody>
                            </table>




                        </div>
                    </div>
                </div>
            </div>











            @*<div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>DOB</th>
                                <th>Email</th>
                                <th class="text-nowrap">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>


                            @{foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FirstName @item.Surname</td>
                                        <td>
                                            @item.DOB
                                        </td>
                                        <td>@item.EmailAddress</td>
                                        <td class="text-nowrap">
                                            <a href="@Url.Action("Client","Clients", new { ClientID = item.CustomerID})" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>

                                        </td>
                                    </tr>


                                }

                            }

                        </tbody>
                    </table>
                </div>*@
        </div>
    </div>
</div>








<script>
    $(function () {
        $('#myTable').DataTable();
    });

</script>
