﻿
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";

    if(Session["UserID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Home</h1>
        <p>@Session["UserID"].ToString()</p>
        <p>@Session["UserFullName"].ToString()</p>
        <p>@Session["SessionID"].ToString()</p>
        <p>@Session["IPAddress"].ToString()</p>


        <a href=@Url.Action("Case", "Processing", new {AppID = "1000000" })>test</a>
            

    </div>
</body>
</html>
