﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Application | Positive Lending</title>
    <!-- Custom CSS -->
    <link href="@Url.Content("~/dist/css/style.css")" rel="stylesheet" />
</head>

<body class="skin-stndrd fixed-layout lock-nav">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Positive Lending</p>
        </div>
    </div>
    <div id="main-wrapper">
        <div>
            <header class="topbar">
                <nav class="navbar fixed-navbar top-navbar navbar-expand-md navbar-dark">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="@Url.Action("Index","Home")">
                            <!-- Logo icon --><b>
                                <img src="@Url.Content("~/assets/images/logo-icon.png")" alt="homepage" class="dark-logo" />
                                <img src="@Url.Content("~/assets/images/positivetick.png")" style="height: 1cm;" alt="homepage" class="light-logo light-logo-sm logo" />
                            </b>
                            <span>
                                <img src="@Url.Content("~/assets/images/logo-text.png")" alt="homepage" class="dark-logo" />
                                <img src="@Url.Content("~/assets/images/positivewhite.png")" style="height: 1.5cm;" class="light-logo" alt="homepage" />
                            </span>
                        </a>
                    </div>
                    <div class="navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <!-- This is  -->
                            <li class="nav-item hidden-sm-up"> <a class="nav-link nav-toggler waves-effect waves-light" href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                            <li class="nav-item d-none d-lg-block"><a class="nav-link nav-lock waves-effect waves-light" href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                        </ul>
                        <ul class="navbar-nav my-lg-0">

                            <a class="nav-link"></a>
                            @using (Html.BeginForm("Index", "Search", new { controller = "search", area = "" }, FormMethod.Get, new { @class = "form-inline" }))
                            {

                                @Html.TextBox("searching", null, new { @class = "form-control mr-sm-2", @PlaceHolder = "Search" })
                            }


                            <li class="nav-item dropdown">
                                @{Html.RenderAction("QuickView", "Messages", new { area = "" });}
                            </li>
                            <li class="nav-item dropdown">
                                @{Html.RenderAction("Index", "Notifications", new { area = "" });}
                            </li>
                            <li class="nav-item right-side-toggle"><a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
        <aside class="left-sidebar fix-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <!--<span><img src="../assets/images/logo-icon.png" alt="elegant admin template"></span> -->
                <a class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)"><i class="mdi mdi-toggle-switch"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
            </div>

            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        @{Html.RenderAction("InApplication", "Menu", new { area = ""});}

                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="gridContainer">
                    <input type="checkbox" name="toggle" id="toggle" />
                    <label for="toggle"></label>
                    <div class="message" style="padding-top: 6rem;">
                        <div class="info row col-xl-12">

                            @{Html.RenderAction("CaseDetails", "Processing", new { area = "" });}

                        </div>
                    </div>
                </div>
                <br>
                <div class="row accor">
                    
                    <div class="col-lg-10" id="accordian-3">
                        <div class="card">
                            <div class="card-body">

                                @RenderBody()
                                <!--- Panel for Fact Find-->

                            </div>
                        </div>
                        



                    </div>
                    <div class="col-lg-2">
                        <div class="card">
                            <div class="card-body">


                                @{Html.RenderAction("CaseDetails", "Processing", new { area = "" });}
                            </div>
                        </div>

                            


                    </div>
                </div>
                <div class="modal fade" id="switchRole" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel1"> Switch Role</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                @{Html.RenderAction("SwitchRole", "ServicePanel", new { area = "ServicePanel" }); }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="outOfOffice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel1">Out of Office Status</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                @{Html.RenderAction("OutOfOffice", "ServicePanel", new { area = "ServicePanel" }); }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="passwordChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel1">Change Password</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                @{Html.RenderAction("ChangePassword", "ServicePanel", new { area = "ServicePanel" }); }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        @{Html.RenderAction("Index", "ServicePanel", new { area = "ServicePanel" }); }
                    </div>
                </div>

            </div>



            <script src="@Url.Content("~/assets/node_modules/jquery/jquery-3.2.1.min.js")"></script>
            <!-- Bootstrap popper Core JavaScript -->
            <script src="@Url.Content("~/assets/node_modules/popper/popper.min.js")"></script>
            <script src="@Url.Content("~/assets/node_modules/bootstrap/js/bootstrap.min.js")"></script>
            <!-- slimscrollbar scrollbar JavaScript -->
            <script src="@Url.Content("~/dist/js/perfect-scrollbar.jquery.min.js")"></script>
            <!--Wave Effects -->
            <script src="@Url.Content("~/dist/js/waves.js")"></script>
            <!--Menu sidebar -->
            <script src="@Url.Content("~/dist/js/sidebarmenu.js")"></script>
            <!--Custom JavaScript -->
            <script src="@Url.Content("~/dist/js/custom.min.js")"></script>
            <!-- ============================================================== -->
            <!-- This page plugins -->
            <!-- ============================================================== -->
            <!--Sky Icons JavaScript -->
            <script src="@Url.Content("~/assets/node_modules/skycons/skycons.js")"></script>
            <!--morris JavaScript -->
            <!--c3 JavaScript -->
            <script src="@Url.Content("~/assets/node_modules/d3/d3.min.js")"></script>
            <script src="@Url.Content("~/assets/node_modules/c3-master/c3.min.js")"></script>
            <script src="@Url.Content("~/assets/node_modules/Chart.js/Chart.min.js")"></script>
            <script src="@Url.Content("~/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js")"></script>
            <!-- Chart JS -->
            <script src="@Url.Content("~/dist/js/dashboard4.js")"></script>
            <script src="@Url.Content("~/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js")"></script>
            <script src="@Url.Content("~/assets/Processing.js")"></script>

        </div>
    </div>
</body>
</html>
