﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">-->
    <title>Positive Lending</title>
    <link href="@Url.Content("~/dist/css/pages/login-register-lock.css")" rel="stylesheet">
    <link href="@Url.Content("~/dist/css/style.min.css")" rel="stylesheet">
</head>
<body class="skin-blue card-no-border">
    <section id="wrapper">
        <div class="login-register">
            <div class="login-box card">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>



</body>
</html>