﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title></title>
    <!-- Custom CSS -->
    <link href="@Url.Content("~/dist/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/dist/css/style.min.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-flash-1.5.6/b-html5-1.5.6/b-print-1.5.6/r-2.2.2/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" href="@Url.Content("~/dist/css/bootstrap-multiselect.css")" type="text/css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="@Url.Content("~/assets/node_modules/calendar/dist/fullcalendar.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/node_modules/select2/dist/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/node_modules/switchery/dist/switchery.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/node_modules/bootstrap-select/bootstrap-select.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/node_modules/multiselect/css/multi-select.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css")">
    <link href="@Url.Content("~/dist/css/pages/tab-page.css")" rel="stylesheet">
</head>
<body class="skin-stndrd fixed-layout lock-nav">
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Positive Lending</p>
        </div>
    </div>
    <div id="main-wrapper">
        <div>
            <header class="topbar">
                <nav class="navbar fixed-navbar top-navbar navbar-expand-md navbar-dark">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="@Url.Action("Index","Home", new { area = "" })">
                            <!-- Logo icon --><b>
                                <img src="@Url.Content("~/assets/images/logo-icon.png")" alt="homepage" class="dark-logo" />
                                <img src="@Url.Content("~/assets/images/positivetick.png")" style="height: 1cm;" alt="homepage" class="light-logo light-logo-sm logo" />
                            </b>
                            <span>
                                <img src="@Url.Content("~/assets/images/logo-text.png")" alt="homepage" class="dark-logo" />
                                <img src="@Url.Content("~/assets/images/positivewhite.png")" style="height: 1.5cm;" class="light-logo" alt="homepage" />
                            </span>
                        </a>
                    </div>
                    <div class="navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <!-- This is  -->
                            <li class="nav-item hidden-sm-up"> <a class="nav-link nav-toggler waves-effect waves-light" href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                            <li class="nav-item d-none d-lg-block"><a class="nav-link nav-lock waves-effect waves-light" href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                        </ul>
                        <ul class="navbar-nav my-lg-0">

                            <a class="nav-link"></a>
                            @using (Html.BeginForm("Index", "Search", new { controller = "search", area = "" }, FormMethod.Get, new { @class = "form-inline" }))
                            {

                                @Html.TextBox("searching", null, new { @class = "form-control mr-sm-2", @PlaceHolder = "Search" })
                            }


                            <li class="nav-item dropdown">
                                @{Html.RenderAction("QuickView", "Messages", new { area = "" });}
                            </li>
                            <li class="nav-item dropdown">
                                @{Html.RenderAction("Index", "Notifications", new { area = "" });}
                            </li>
                            <li class="nav-item right-side-toggle"><a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
        <aside class="left-sidebar fix-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <!--<span><img src="../assets/images/logo-icon.png" alt="elegant admin template"></span> -->
                <a class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" href="javascript:void(0)"><i class="mdi mdi-toggle-switch"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
            </div>
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        @{ Html.RenderAction("Index", "Menu", new { area = "" });}
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    @RenderBody()
                    <!-- .right-sidebar -->


                    <div class="modal fade" id="switchRole" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel1"> Switch Role</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    @{Html.RenderAction("SwitchRole", "ServicePanel", new { area = "ServicePanel" }); }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="outOfOffice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel1">Out of Office Status</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    @{Html.RenderAction("OutOfOffice", "ServicePanel", new { area = "ServicePanel" }); }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="passwordChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel1">Change Password</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    @{Html.RenderAction("ChangePassword", "ServicePanel", new { area = "ServicePanel" }); }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right-sidebar">
                        <div class="slimscrollright">
                            @{Html.RenderAction("Index", "ServicePanel", new { area = "ServicePanel" }); }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="@Url.Content("~/assets/node_modules/jquery/jquery-3.2.1.min.js")"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="@Url.Content("~/assets/node_modules/popper/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/node_modules/bootstrap/js/bootstrap.min.js")"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="@Url.Content("~/dist/js/perfect-scrollbar.jquery.min.js")"></script>
    <!--Wave Effects -->
    <script src="@Url.Content("~/dist/js/waves.js")"></script>
    <!--Menu sidebar -->
    <script src="@Url.Content("~/dist/js/sidebarmenu.js")"></script>
    <!--Custom JavaScript -->
    <script src="@Url.Content("~/dist/js/custom.min.js")"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--Sky Icons JavaScript -->
    <script src="@Url.Content("~/assets/node_modules/skycons/skycons.js")"></script>
    <!--morris JavaScript -->
    <!--c3 JavaScript -->


    <script src="@Url.Content("~/assets/node_modules/switchery/dist/switchery.min.js")"></script>
    <script src="@Url.Content("~/assets/node_modules/select2/dist/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/node_modules/bootstrap-select/bootstrap-select.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js")"></script>
    <script src="@Url.Content("~/assets/node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/node_modules/multiselect/js/jquery.multi-select.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/addcustomer.js")"></script>
    <script src="@Url.Content("~/assets/node_modules/datatables/datatables.min.js")"></script>
</body>


@*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
