﻿

@{
    Layout = null;
}












<li class="nav-small-cap"></li>

<li>
    <a class="has-arrow waves-effect waves-dark active" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-wrench"></i><span class="hide-menu">Case Admin: </span></a>
    <ul aria-expanded="false" class="collapse in">
        <li><a href="#">Change User <i class="fas fa-user"></i></a></li>
        <li><a href="#">Case Status <i class="fas fa-briefcase"></i></a></li>
        <li><a href="#">Switch Deal <i class="mdi mdi-repeat"></i></a></li>
    </ul>
</li>


<li class="nav-small-cap"></li>

<li><a href="#">Suitability Letter<i class="mdi mdi-file-document"></i></a></li>
<li><a href="#">App Calendar<i class="mdi mdi-calendar-blank"></i></a></li>
<li><a href="#">Notes<i class="ti-notepad"></i></a></li>


<li class="nav-small-cap"></li>
<li>
    <a href=@Url.Action("ExitCase", "Processing", new {AppID = "1000000" })>
        Exit Case  <i class="mdi mdi-exit-to-app"></i>
    </a>


    @ViewContext.RouteData.Values["AppID"]

</li>