﻿@model IEnumerable<PositiveScott.Models.Menu>
@{
    Layout = null;
}


@{foreach (var item in Model.Where(s => s.MenuParentObject == 0).OrderBy(x => x.MenuOrder).GroupBy(Obj => new { Obj.MenuID }).Distinct().ToList())
    {
        <li>
            @if (@item.FirstOrDefault().MenuURL == "#")
            {
                <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                    @item.FirstOrDefault().MenuName <i class="@item.FirstOrDefault().MenuIcon"></i>
                </a>

            }
            else
            {
                <a href="@item.FirstOrDefault().MenuURL">
                    @item.FirstOrDefault().MenuName <i class="@item.FirstOrDefault().MenuIcon"></i>
                </a>
            }
            @if (@item.FirstOrDefault().MenuName != "Home")
            {
                <ul aria-expanded="false" class="collapse">
                    @{foreach (var firstItem in (Model.Where(s => s.MenuParentObject == item.FirstOrDefault().MenuID).OrderBy(x => x.MenuOrder).ToList()))
                        {


                            <li>
                                @if (firstItem.MenuURL == "#")
                                {
                                    <a class="has-arrowinner waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                        @firstItem.MenuName  <i class="@firstItem.MenuIcon"></i>
                                    </a>
                                    <ul aria-expanded="false" class="collapse">
                                        @foreach (var secondItem in (Model.Where(s => s.MenuParentObject == firstItem.MenuID).ToList()))
                                        {

                                            <li>
                                                <a href="@secondItem.MenuURL">
                                                    @secondItem.MenuName <i class="@secondItem.MenuIcon"></i>
                                                </a>

                                            </li>

                                        }
                                    </ul>
                                }
                                else
                                {
                                    <a href="@firstItem.MenuURL">
                                        @firstItem.MenuName  <i class="@firstItem.MenuIcon"></i>
                                    </a>
                                }


                            </li>
                        }

                    }
                </ul>
            }
        </li>
    }
}
