﻿
@{
    Layout = null;
}

@model IEnumerable<PositiveScott.Models.Message>




    @foreach (var MessageContent in Model)
    {

        if (MessageContent.MessageFromUserID == Int32.Parse(Session["UserId"].ToString()))
        {
            <li class="reverse">
                <div class="chat-content">
                    <h5>@Session["UserFullName"].ToString()</h5>
                    <div class="box bg-light-inverse">@MessageContent.MessageText</div>
                    <div class="chat-time">@MessageContent.MessageDate</div>
                </div>
            </li>

        }
        else
        {
            <li>
                <div class="chat-content">
                    <h5></h5>
                    <div class="box bg-light-info">@MessageContent.MessageText</div>
                    <div class="chat-time">@MessageContent.MessageDate</div>
                </div>
            </li>
        }


}