﻿@model IEnumerable<PositiveScott.Models.User>

    <link href="~/dist/css/pages/chat-app-page.css" rel="stylesheet">
@{

    Layout = "~/Views/Shared/MainLayout.cshtml";

    <div class="col-12">
        <div class="card m-b-0">
            <!-- .chat-row -->
            <div class="chat-main-box">
                <!-- .chat-left-panel -->
                <div class="chat-left-aside">
                    <div class="open-panel"><i class="ti-angle-right"></i></div>
                    <div class="chat-left-inner">
                        <div class="form-material">
                            <input class="form-control p-2" type="text" placeholder="Search Contact">
                        </div>
                        <ul class="chatonline style-none ">
                            @foreach (var User in Model)
                            {
                                <li>
                                    <a href="#messageUser_@User.UserID"><span>@User.UserFullName</span></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- .chat-left-panel -->
                <!-- .chat-right-panel -->
                <div class="chat-right-aside">

                    @foreach (var User in Model)
                    {
                        <div id="messageUser_@User.UserID">
                            <div class="chat-main-header">
                                <div class="p-3 b-b">
                                    <h4 class="box-title">Chat Message</h4>
                                </div>
                            </div>
                            <div class="chat-rbox">
                                <ul class="chat-list p-3">
                                    <!--chat Row -->
                                    @{Html.RenderAction("Chat", "Messages", new { ChatUserID = User.UserID, area = "" });}
                                </ul>
                            </div>
                            <div class="card-body border-top">
                                <div class="row">

                                    <div class="col-8">
                                        <textarea placeholder="Type your message here" class="form-control border-0"></textarea>
                                    </div>
                                    <div class="col-4 text-right">
                                        <button type="button" class="btn btn-info btn-circle btn-lg"><i class="fas fa-paper-plane"></i> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                                        }



















                </div>
                <!-- .chat-right-panel -->
            </div>
            <!-- /.chat-row -->
        </div>
    </div>

                                        }

<script src="~/dist/js/pages/chat.js"></script>