﻿@model IEnumerable<PositiveScott.Models.Message>

@{

    int NoMessages = 0;
    int NoNewMessage = 0;


    foreach (var message in Model)
    {
        if (message.MessageReadDate != null)
        {
            NoMessages++;
        }
        else
        {
            NoNewMessage++;
            NoMessages++;
        }

    }


    if (NoNewMessage > 0)
    {
        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ti-email"></i>
            <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
        </a>
    }
    else
    {
        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ti-email"></i>
            <div class="notify"></div>
        </a>
    }


    <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2">
        <span class="with-arrow"><span class="bg-danger"></span></span>
        <ul>
            <li>
                <div class="drop-title text-white bg-danger">

                    <h4 class="m-b-0 m-t-5">@NoNewMessage New</h4>
                    <span class="font-light">Messages</span>
                </div>
            </li>
            <li>
                <div class="message-center">

                    @foreach (var MessageContent in Model)
                    {
                       

                        <a href="@Url.Action("Index","Messages", new {ChatUserID = MessageContent.MessageFromUserID })">
                            <div class="mail-content">
                                <h5>@MessageContent.MessageSubject</h5>
                                <span class="mail-desc">@MessageContent.MessageText</span><br />
                                <span class="time">@MessageContent.MessageDate</span>
                            </div>


                        </a>

                    }





                </div>
            </li>
            <li>
                <a class="nav-link text-center fa-link m-b-5" href="@Url.Action("Index","Messages")"><b>See all Messages</b><i class="fa fa-angle-right"></i></a>
            </li>


        </ul>




    </div>





}
