﻿
@{
    ViewBag.Title = "Reports Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
