﻿@model IEnumerable<PositiveScott.Models.ImportValidation>

@using PositiveScott.Resources

@{
    ViewBag.Title = "Case";
    Layout = "~/Views/Shared/ApplicationPage.cshtml";
}


    <script>

        function saveField(AppID, ID, Value) {

            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveField", "Post")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ "AppID": AppID, "FieldName": ID, "Value": Value }),
                success: function (data) { alert(data); },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });



        }


    </script>



@{foreach (var Field in Model)
    {


        if (Field.PluginType == 1)
        {

           


            @*@Helper.HTMLFieldNew(Field.ValName.ToString(), int.Parse(Field.ValID.ToString()), int.Parse(Field.ValType), int.Parse(Field.PluginType.ToString()), Field.FriendlyName.ToString(), Request.QueryString["AppID"].ToString(), Field.Mandatory.ToString(), Field.DropdownValues.ToString(), Field.OnClick.ToString(), Field. OnChange.ToString(), Field.OnKeyPress.ToString(), Field.Tooltip.ToString())*@





            @Helper.HTMLField(int.Parse(@Field.ValType), @Field.ValName.ToString(), Field.ValID.ToString(), Request.QueryString["AppID"].ToString(), Field.DropdownValues.ToString())
        }
        else
        {
            @Helper.HTMLPlugin(int.Parse(@Field.ValType), @Field.ValName.ToString(), Field.FriendlyName.ToString(), Field.Class.ToString())
        }









    }
}










